.my-photo {
  width: 60%;
  border: 2px solid #F21E4E;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  animation: animation-jump 2s ease-in-out infinite;
  position: relative;
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
  rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}

.my-photo img{
  max-width: 100%;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}


.glowing::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(45deg,
      #e8f74d,
      #ff6600d9,
      #00ff66,
      #13ff13,
      #ad27ad,
      #bd2681,
      #6512b9,
      #ff3300de,
      #5aabde);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  z-index: -1;
  border-radius: 10px;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animation-jump {
  0% {
    top: 5px;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}